.grid-container {
  display: grid;
  grid: 250px / auto auto auto;
  grid-gap: 10px;
  background-color: #1a1919;
  padding: 10px;
}
.grid-container > div {
  background-color: #1a1919;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  list-style-type: none;
  font-family: initial;
  font-weight: normal;
  color: #eee;
}
